apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: novawallet
spec:
  ports:
    - name: ui
      port: 16686
      targetPort: 16686
    - name: otlp
      port: 4317
      targetPort: 4317
  selector:
    app: jaeger
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: novawallet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.55
          ports:
            - containerPort: 16686
            - containerPort: 4317
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
