apiVersion: v1
kind: Service
metadata:
  name: sonar-db
  namespace: novawallet
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: sonar-db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonar-db
  namespace: novawallet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonar-db
  template:
    metadata:
      labels:
        app: sonar-db
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          env:
            - name: POSTGRES_DB
              value: sonar
            - name: POSTGRES_USER
              value: sonar
            - name: POSTGRES_PASSWORD
              value: sonar
          ports:
            - containerPort: 5432
