apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: {{ .Values.secrets.ConnectionStrings__DefaultConnection | quote }}
  JwtSettings__Issuer: {{ .Values.secrets.JwtSettings__Issuer | quote }}
  JwtSettings__Audience: {{ .Values.secrets.JwtSettings__Audience | quote }}
  JwtSettings__SecretKey: {{ .Values.secrets.JwtSettings__SecretKey | quote }}
